[project]
	description = Laboratorios
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/guilhermerbueno
[access "refs/for/refs/*"]
	read = group user/guilhermerbueno
	push = group user/guilhermerbueno
	label-Code-Review = -2..+2 group user/guilhermerbueno
	label-Verified = -1..+1 group user/guilhermerbueno
	rebase = group user/guilhermerbueno
	removeReviewer = group user/guilhermerbueno
	submit = group user/guilhermerbueno
[access "refs/heads/*"]
	read = group user/guilhermerbueno
	create = group user/guilhermerbueno
	push = +force group user/guilhermerbueno
	pushMerge = group user/guilhermerbueno
[access "refs/tags/*"]
	push = +force group user/guilhermerbueno
	pushTag = group user/guilhermerbueno
	pushSignedTag = group user/guilhermerbueno
